.popover,
.popoverUpper {
  z-index: 2;
  position: absolute;
  min-width: 7rem;
  /* min-height: 200px; */
  padding: 1rem;
  background-color: #fcfcfc;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fcfcfc;
  }
  & button {
    background-color: #efefef;
    color: black;
  }
  & button:hover {
    border: 1px solid black;
  }
  & button:focus {
    outline: 1px solid black;
  }
}

.popover {
  transform: translateX(-50%) translateY(calc(-100% - 2.75rem));
  &:after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.popoverUpper {
  transform: translateX(-50%) translateY(2.75rem);
  &:after {
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
}

/* .arrow {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  transform: translateX(-50%);
} */

.title {
  color: #213547;
  margin: 0.25rem;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.target {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 5px solid #fcfcfc;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}
