.imgContainer {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
  user-select: none;

  /* overflow-x: scroll; */
  /* & img {
    width: 100%;
    object-fit: contain;
  } */
}
