.imgContainer {
  max-width: 100%;
  /* min-width: 720px; */

  /* overflow-x: scroll; */
  /* & img {
    width: 100%;
    object-fit: contain;
  } */
}

/* .zoomOverlay {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
  background-image: url('/elcap.jpg');
  background-repeat: no-repeat;
} */
