dialog {
  max-width: min(80%, 320px);
  padding: 1.55rem;
  border: none;
  border-radius: 0.25rem;
  & h2 {
    margin: 1rem;
    font-size: 2rem;
  }
  & p {
    font-weight: bold;
    margin: 0 0 1rem;
  }
  &::backdrop {
    background-color: rgb(1, 1, 1, 0.1);
    backdrop-filter: blur(1px);
  }
}
